@import "~antd/dist/antd.css";

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
}

.header a {
  color: white;
}

.header img {
  height: 32px;
  margin-right: 12px;
}

.ant-form-item {
  margin-bottom: 16px;
}

tbody tr {
  cursor: pointer;
}

.react-icons {
  vertical-align: middle;
}
